#contact
  padding 72px
  text-align center

  background-image url(../assets/images/underconstruction.gif), url(../assets/images/underconstruction.gif)
  background-position center bottom, center top
  background-repeat repeat-x, repeat-x
