@require 'theme'

footer
  padding gutter-big
  text-align center
  background background-tint

  a
    color link-color-light
    font-family font-fancy
    text-decoration none

    &.active, &:hover
      color darken(link-color-light, 25%)
