@require 'theme'

header
  padding gutter
  background background-tint
  clearfix()

  .logo
    float left
    width 250px

    @media screen and (max-width: breakpoint-med)
      width 100%
      text-align center

  a
    color link-color-light

    &.active, &:hover
      color darken(link-color-light, 25%)
