@require 'theme'

html, body
  height 100%

#landing
  clearfix()
  height 900px
  max-width 100%
  padding 0
  position relative

  background background-tint

  @media screen and (max-width: breakpoint-med)
    height auto

  .landing-inner
    max-width 960px
    margin 0 auto
    padding gutter-big

    @media screen and (max-width: breakpoint-small)
      padding gutter

  #logo
    max-width 100%

  nav
    font-size font-size-huge
    margin-top gutter-big
    width 60%
    z-index 2
    position relative

    @media screen and (max-width: breakpoint-small)
      margin-top gutter
      font-size font-size-big

  #sketch
    width 50%
    max-width 800px
    position absolute
    z-index 1
    right 0
    bottom 0

    @media screen and (max-width: breakpoint-med)
      position static
      float right
      max-width 75%
      width 75%

    @media screen and (max-width: breakpoint-small)
      position static
      max-width 100%
      width 100%

#news
  clearfix()
  background content-background
  max-width 100%
  padding gutter

  @media screen and (max-width: breakpoint-small)
    padding 0

  article
    width 33.3333%
    float left
    padding gutter

    @media screen and (max-width: breakpoint-med)
      width 100%

    h1
      text-transform uppercase
      color accent-dark
      font-size font-size-big

    h2
      font-weight bold

    li
      float left
      width 33.3333%
      height 200px
      background-size cover
      background-position center

    h1,h2,h3
      padding 4px 0
