@require 'theme'

.live
  h1
    text-transform uppercase
    color accent3
    font-size 36px

  article
    margin-bottom gutter

    h1
      color accent1
      font-size 21px
      text-transform none
      font-weight bold
