@require 'theme'

.live
  text-align center

  h1
    text-transform uppercase
    color accent-dark
    font-size 36px

  article
    h1
      color text-color
      font-size 21px
      text-transform none
      font-weight bold
