@require 'theme'

.live
  text-align center

  @media screen and (max-width: breakpoint-small)
    text-align left

  h1
    text-transform uppercase
    color accent-dark
    font-size font-size-big

  article
    h1
      color text-color
      font-size font-size-base
      text-transform none
      font-weight bold
