@require 'theme'

::selection
  background accent4

::-moz-selection
  background accent4

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

body
  background #fff
  font-family 'Special Elite', monospace
  font-size 21px
  color accent1

img
  max-width 100%

a
  text-decoration none
  color blueAccent

  &.active
    color accent

  &:hover
    color accent4

section
  padding gutter-big 0
  width 600px
  margin 0 auto

p
  margin-bottom 32px
  line-height 1.5em
