@require 'theme'

::selection
  background accent-light

::-moz-selection
  background accent-light

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

body
  background #fff
  font-family 'Special Elite', monospace
  font-size 21px
  color text-color

img
  max-width 100%

a
  text-decoration none
  color link-color

  &.active
    color accent

  &:hover
    color accent-light

section
  padding gutter-big 0
  max-width content-width
  margin 0 auto

  @media screen and (max-width: content-width)
    padding gutter-big

article
  margin-bottom gutter-big

p
  margin-bottom 32px
  line-height 1.5em

figure
  margin-bottom gutter-big

figcaption
  text-align center
