@require 'theme'

nav
  text-transform uppercase
  float right
  font-size 36px
  width rightSide
  position fixed
  right 0
  top 64px
  padding 0 gutter

  color accent3
  font-weight bold
  text-align center

  z-index 100

  a
    margin 0 4px

  .social-link
    font-size 64px
    text-align center

  #facebook-link
    color #3b5998

  #twitter-link
    color #00aced
