@require 'theme'

nav
  text-transform uppercase
  font-weight bold

  a
    padding 0 8px
    display inline-block

  .social-link
    text-align center

  #facebook-link
    color facebook-color

  #twitter-link
    color twitter-color

  &.horiz
    float right

    .social-link
      font-size font-size-base

  @media screen and (max-width: breakpoint-med)
    padding-top gutter
