@require 'theme'

nav
  text-transform uppercase
  font-weight bold

  a
    padding 0 8px
    display inline-block
    font-family 'Special Elite', monospace
    text-decoration none

  .social-link
    img
      border 2px solid link-color-light
      background link-color-light
      border-radius 6px

  &.horiz
    float right
    margin-top 8px

    .social-link
      img
        vertical-align top
        width 17px

    @media screen and (max-width: breakpoint-med)
      padding-top gutter
      width 100%
      clear both
      text-align center
