@require 'theme'

#photos
  article
    clearfix()

  li
    float left
    width 33%
    height 300px
    padding-right gutter
    background-size cover
    background-position center

    @media screen and (max-width: breakpointSmall)
      height 150px
