@require 'theme'

#photos
  article
    clearfix()
    margin gutter

  li
    float left
    width 33%
    height 300px
    padding-right gutter
    background-size cover
    background-position center
