background-tint = #CB393D
content-background = lightness(background-tint, 99%)
text-color = #111
link-color = #968F76
link-color-light = rgb(227,221,200)
accent-dark = darken(link-color, 25%)
accent-light = #f29a08
facebook-color = #3b5998
twitter-color = #00aced

gutter = 16px
gutter-big = gutter * 2

content-width = 600px

breakpoint-med = 768px
breakpoint-small = 480px

font-size-base = 21px
font-size-big = 37px
font-size-huge = 50px

font-fancy = 'Special Elite', monospace 
font-regular = 'Open Sans', sans-serif
  
clearfix()
  &:after
    content ""
    display table
    clear both
