background-tint = #f1f6f7
content-background = #fff
text-color = #1d4433
accent-dark = #c05e07
accent-light = #f29a08
link-color = #3D8EDA
facebook-color = #3b5998
twitter-color = #00aced

gutter = 16px
gutter-big = gutter * 2

content-width = 600px

breakpoint-med = 768px
breakpoint-small = 480px

clearfix()
  &:after
    content ""
    display table
    clear both
