background = #f1f6f7
darkText = #0f0d0e
accent = #be2805

accent1 = #1d4433
accent2 = #260101
accent3 = #c05e07
accent4 = #f29a08

grayAccent = lighten(darkText, 30%)
blueAccent = #3D8EDA

gutter = 16px

rightSide = 39%
leftSide = 61%
