head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")

  title ShowPony - #{title}

  link(href='http://fonts.googleapis.com/css?family=Special+Elite', rel='stylesheet', type='text/css')
  link(href="lib/reset-css/reset.css", rel="stylesheet", type="text/css")
  link(href="lib/font-awesome/font-awesome.css", rel="stylesheet", type="text/css")
  link(href="styles/style.css", rel="stylesheet", type="text/css")
