header

  div.download
    a(href="https://showponiesindc.bandcamp.com/yum") Got a download code? Click here!

  h1
    a(href="index.html") 
      img(src="images/logo.png", alt="ShowPony logo")

  nav
    a(href="index.html" class="active") Bio
    a(href="music.html") Music
    a(href="photos.html") Photos
    a(href="live.html") Tour
    a(href="contact.html") Contact
    
    //-
      a(href="https://www.facebook.com/pages/ShowPony/185266874857501") 
        <img src="images/Facebook.png" alt="facebook logo" /) 
      a(href="https://twitter.com/showponyband") 
        <img src="images/Twitter2.png" alt="twitter logo" /) 
