doctype html
html
  - var title = 'Contact'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade
    
    section#contact
      | showpony at showponyband dot com
        
    include ./includes/footer.jade
