- var title = 'Bio'
include ./includes/header.jade

section
  p
    | ShowPony is an instrumental math rock band hailing from Washington, DC.
    | Their debut LP, 
    a(href="music.html") Slow Danger
    | , highlights their complicated-rock tendencies
    | with complex song composition and intricate syncopation.

  p
    | Brian Moran
    | drives the songs along, drumming the thin line between hard-hitting power
    | and subtle nuance while Eric Sakmar adds his prog-rock prowess to the mix
    | with enough bass force to shake the glasses off of your face. On guitar,
    |   Dan Spagaire pulls from his Pittsburgh upbringing and fondness for loop
    | pedals as his fingers fly, providing angular melodies and classic-grit riffs.

  p
    | Blending math, classic, pop and prog rock together, ShowPony offers an
    | exciting live show full of contagious energy feeding off the enjoyment
    | these three members get from playing music. Local concert reviewer
    | <a href="http://dcrocklive.blogspot.com/2013/04/tarrtufi-showpony-appomattox-ghion-apr.html"> David
    | Hintz</a> describes a ShowPony show - "&#8230;the guitarist created intriguing
    | patterns over countering bass runs atop crisp snare and cymbal attacks.
    | The music is mobile with some jagged cuts as an ice skater may fly by
    | leaving a crystal trail."

  p
    | ShowPony is currently planning their late-spring
    | north-east tour, and finalizing material for their follow up to <a href="music.html">Slow Danger</a>.
    
include ./includes/footer.jade
