doctype html
html
  - var title = 'Music'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade
    
    div.content
      section#music
        p
          | All music is available in a multitude of formats at <a href="https://showponiesindc.bandcamp.com/">https://showponiesindc.bandcamp.com/</a>.

        section
          h1 Arrow Smith

          div
            | <iframe style="border: 0; width: 100%; height: 406px;" src="http://bandcamp.com/EmbeddedPlayer/album=1876534066/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://showponiesindc.bandcamp.com/album/arrow-smith">Arrow Smith by ShowPony</a></iframe> 

          p
            | Released on May 27, 2016.
            | Recorded and engineered by Nate Campisi at Mr. Small's Studio,
            | Pittsburgh, PA. Performed by ShowPony (Dan Spagaire, Eric Sakmar, Brian Moran).
            | Artwork by JC Baez.
          
        section
          h1 Slow Danger
          
          div
            | <iframe style="border: 0; width: 100%; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=4045282339/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://showponiesindc.bandcamp.com/album/slow-danger">Slow Danger by ShowPony</a></iframe>
          
          p
            | Released on December 17, 2013.
            | Recorded and engineered by Nate Campisi at Mr. Small's Studio,
            | Pittsburgh, PA. Performed by ShowPony (Dan Spagaire, Alex Kozen, Brian Moran).
            | Artwork by JC Baez.
          
    include ./includes/footer.jade
