doctype html
html
  - var title = 'Photos'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade

    div.content
      section#photos

        article
          a(href="https://www.facebook.com/media/set/?set=a.650306828438395.1073742844.302368506565564&type=3")      
            h1 August 2, 2015 at Alley Cat House
            h2 13 photos by Roxplosion
            ul
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/p720x720/11811449_650307025105042_7329735427745340928_n.jpg?oh=aba041f539c5b21aebcdde247103ec22&oe=567DC9B4)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xft1/t31.0-8/s960x960/11143555_650307021771709_5906574677895801462_o.jpg)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11825679_650307151771696_6256639032693601345_n.jpg?oh=422034c2849005beb8469689e4c3d48e&oe=566BEC9D)")
            
        article
          a(href="https://www.facebook.com/media/set/?set=a.627483087387436.1073742780.302368506565564&type=3")      
            h1 June 6, 2015 at Trukgarten Festival
            h2 by Roxplosion
            ul
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11407280_627483410720737_4607183497660167352_n.jpg?oh=7c0824a1342033c69f42ebbdc1f0a751&oe=5674AE10)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11108263_627483457387399_8975206887175187507_n.jpg?oh=3648097fd6304c03265a424c2be7040c&oe=5666BE40)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11401356_627483360720742_9203811484624091519_n.jpg?oh=6fe24696f439e057de5bc2cf1a43f7a2&oe=5660AF51)")
              
        article
          a(href="https://www.facebook.com/media/set/?set=a.571606932975052.1073742624.302368506565564&type=3")      
            h1 January 20, 2015 at The Velvet Lounge
            h2 9 photos by Roxplosion
            ul
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10433698_571607039641708_1299190259868854910_n.jpg?oh=87bf4c9f4c6b1701875a5a5390bced99&oe=5678F9CF)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10952542_571607046308374_5786792357220558224_n.jpg?oh=53529faa83f96f1663d55bb784822141&oe=566217C8)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10978546_571606952975050_880788758405239072_n.jpg?oh=ba503ab76c245d843269a210d6f0f9c8&oe=566B48A7)")
        
        article
          a(href="https://www.facebook.com/media/set/?set=a.518532964949116.1073742458.302368506565564")      
            h1 October 9, 2014 at IOTA Club &amp; Cafe
            h2 12 photos by Roxplosion
            ul
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1555378_518533044949108_7161762165948606304_n.jpg?oh=638dbd3cc677ab4a1ead8520ffb7b03e&oe=567296C1)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1016495_518533021615777_9186997836380507627_n.jpg?oh=7f9d6b489fc030d3ec6f52a152c4f501&oe=5675CF81)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10386754_518532994949113_6926843158088000396_n.jpg?oh=ea99e03336c199c212926d8c9ca77b4a&oe=567EB145)")
        
        article
          a(href="https://www.facebook.com/permalink.php?story_fbid=795330677184448&id=185266874857501")      
            h1 September 9, 2014
            h2 12 photos by Jamal
            ul
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/10624952_795330350517814_4472441566970837632_n.jpg?oh=3c97a7f12727385d4b6717680dcecbc5&oe=567A8E23)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10647015_795330347184481_7832900349987966391_n.jpg?oh=6ba010ca6fb69fbda618f3d8a616e682&oe=56717BE0)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10685344_795330340517815_8484052276776261865_n.jpg?oh=56c9c4ac9baa3536575757bf77c987f9&oe=56620B63)")
        
        article
          a(href="https://www.facebook.com/media/set/?set=a.488892074579872.1073742336.302368506565564&type=1")
            h1 July 28, 2014 at DC9
            h2 20 photos by Roxplosion
            ul
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/10603368_488892347913178_8174412188877284436_n.jpg?oh=d0515c0cf7d62027f89318003f2cebc1&oe=56621C51)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10612711_488892367913176_4204747491630563465_n.jpg?oh=8e782acf6b97b13443ec00d53ac6bc76&oe=56776F72)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/10622918_488892424579837_8159894089189069915_n.jpg?oh=f42499a1086a088259f0c3876156c08d&oe=5661BCB7)")
        
        article
          a(href="https://www.facebook.com/media/set/?set=a.750553334995516.1073741827.185266874857501&type=3")
            h1 June 17, 2014 at DC9
            h2 7 photos by Krystina Gabrielle Photography
            ul
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/10443538_750553414995508_3166231055813313888_n.jpg?oh=bcb612661f43c38a234b47c5b8c7e69e&oe=5673C6F6)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10346359_750553401662176_1635535795213010943_n.jpg?oh=520b06d84ad0d4e3a2db86f313cfccc9&oe=566535D0)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10454331_750553354995514_2367124361390271592_n.jpg?oh=4b9fdfc774cda749fb7dc78f1b02fbd5&oe=567AA77F)")

        article
          a(href="https://www.facebook.com/media/set/?set=a.377757185693362.1073741996.302368506565564&type=1")
            h1 December 16, 2013 at Galaxy Hut
            h2 14 photos by Roxplosion
            ul
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1452517_377757365693344_1138035670_n.jpg?oh=68cea9ddccc059bf0be860e06fb55f77&oe=5670EF52)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1484234_377757535693327_1498433982_n.jpg?oh=3b270cdd541030a3f7cabcb3fae36946&oe=5675FE06)")
              li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1497791_377757549026659_269899955_n.jpg?oh=a53a43185a528f72e1668f34367d250c&oe=566BDCEB)")            
            
    include ./includes/footer.jade
