doctype html
html
  - var title = 'Photos'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade

    section#photos

      article
        a(href="https://www.facebook.com/media/set/?set=a.650306828438395.1073742844.302368506565564&type=3")      
          h1 August 2, 2015 at Alley Cat House
          h2 13 photos by Roxplosion
          ul
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/p720x720/11811449_650307025105042_7329735427745340928_n.jpg?oh=aba041f539c5b21aebcdde247103ec22&oe=567DC9B4)")
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xft1/t31.0-8/s960x960/11143555_650307021771709_5906574677895801462_o.jpg)")
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11825679_650307151771696_6256639032693601345_n.jpg?oh=422034c2849005beb8469689e4c3d48e&oe=566BEC9D)")
          
      article
        a(href="https://www.facebook.com/media/set/?set=a.627483087387436.1073742780.302368506565564&type=3")      
          h1 June 6, 2015 at Trukgarten Festival
          h2 by Roxplosion
          ul
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11407280_627483410720737_4607183497660167352_n.jpg?oh=7c0824a1342033c69f42ebbdc1f0a751&oe=5674AE10)")
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11108263_627483457387399_8975206887175187507_n.jpg?oh=3648097fd6304c03265a424c2be7040c&oe=5666BE40)")
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11401356_627483360720742_9203811484624091519_n.jpg?oh=6fe24696f439e057de5bc2cf1a43f7a2&oe=5660AF51)")
            
      article
        a(href="https://www.facebook.com/media/set/?set=a.571606932975052.1073742624.302368506565564&type=3")      
          h1 January 20, 2015 at The Velvet Lounge
          h2 9 photos by Roxplosion
          ul
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10433698_571607039641708_1299190259868854910_n.jpg?oh=87bf4c9f4c6b1701875a5a5390bced99&oe=5678F9CF)")
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10952542_571607046308374_5786792357220558224_n.jpg?oh=53529faa83f96f1663d55bb784822141&oe=566217C8)")
            li(style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10978546_571606952975050_880788758405239072_n.jpg?oh=ba503ab76c245d843269a210d6f0f9c8&oe=566B48A7)")
            
    include ./includes/footer.jade
