doctype html
html
  - var title = 'Photos'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade

    div.content
      section#photos

        article
          h1 May 28, 2016 at DC9
          != '<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.781232335345843.1073743242.302368506565564%26type%3D3&width=600&show_text=true&appId=1399074957069399&height=721" width="600" height="721" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>'

        article
          h1 January 26, 2016 at Black Cat Backstage
          != '<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.725356020933475.1073743093.302368506565564%26type%3D3&width=600" width="600" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>'

        article
          h1 October 17, 2015 at The Velvet Lounge
          != '<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.726427147493029.1073743101.302368506565564%26type%3D3&width=600" width="600" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>'

        article
          h1 August 2, 2015 at Alley Cat House
          iframe(src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.650306828438395.1073742844.302368506565564%26type%3D3&width=600" width="600" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")

        article
          h1 June 6, 2015 at Trukgarten Festival
          iframe(src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.627483087387436.1073742780.302368506565564%26type%3D3&width=600" width="600" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")

        article
          h1 January 20, 2015 at The Velvet Lounge
          iframe(src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.571606932975052.1073742624.302368506565564%26type%3D3&width=600" width="600" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
        
        article
          h1 October 9, 2014 at IOTA Club &amp; Cafe
          iframe(src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.518532964949116.1073742458.302368506565564%26type%3D3&width=600" width="600" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")

        article
          h1 September 9, 2014
          != '<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D795330677184448%26id%3D185266874857501&width=600" width="600" height="646" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>'

        article
          h1 July 28, 2014 at DC9
          != '<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.488892074579872.1073742336.302368506565564%26type%3D3&width=600" width="600" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>'
            
        article
          h1 June 17, 2014 at DC9
          != '<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.750553334995516.1073741827.185266874857501%26type%3D3&width=600" width="600" height="597" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>'

        article
          h1 December 16, 2013 at Galaxy Hut
          != '<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmedia%2Fset%2F%3Fset%3Da.377757185693362.1073741996.302368506565564%26type%3D3&width=600" width="600" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>'

    include ./includes/footer.jade
