doctype html
html
  - var title = 'Videos'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade
    
    section#videos
      img(src="assets/images/underconstruction.gif")
        
    include ./includes/footer.jade
