doctype html
html
  - var title = 'Videos'
  include ./includes/head.jade
  
  body
    include ./includes/header.jade
    
    div.content
      section#videos
        
        article.video
          h1 November 6, 2015
          h2 at The Pinch in Washington, DC
          div.embed-container
            iframe(src='https://www.youtube.com/embed/3cVSKKk6Qlc' frameborder='0' allowfullscreen)
        
        article.video
          h1 October 24, 2015
          h2 at Metropolitan Kitchen in Annapolis, MD
          div.embed-container
            iframe(src='https://www.youtube.com/embed/2bfvRG9sRp0' frameborder='0' allowfullscreen)
        
    include ./includes/footer.jade
